<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/reset.css " | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/index.css " | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css " | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap-theme.min.css " | relative_url }}">
    <!-- Twitter Meta Tag -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@baaalfs">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.content | markdownify | strip_html | truncatewords: 50 }}">
    {% endif %}
    <!-- Twitter Meta Tag -->
    {% feed_meta %}
    {% include google-analytics.html %}
    <!--  Load jQuery  -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
