/* @import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500"); */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

@import url("./fonts.css");

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Bale Font", sans-serif !important;
  background-color: #2f36400a !important;
}

a:hover {
  text-decoration: none !important;
}

.container {
  max-width: 720px;
  position: relative;
  background-color: transparent;
  z-index: 1333;
}

.header-wrapper {
  height: 250px;
  /* background-color: #f9ce00; */
  margin-top: -30px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: 1333;
}
.header-wrapper::before {
  z-index: -5;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.header-wrapper .header-content {
  z-index: -2;
}
.header-wrapper .header-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 42pt;
  font-weight: 500;
  color: #2f3640;
  text-align: center;
}
.header-wrapper .header-content p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: -45px;
  text-align: center;
  font-size: 16px;
  color: #353b48;
  opacity: 0.75;
}

.page-content {
  margin: 20px auto;
}

.post-list a.list-link {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: 0.15s all ease-in-out;
  width: 100%;
  z-index: 1333;
  padding: 20px;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 5px;
}
.post-list a.list-link h3 {
  color: #2f3640;
  font-size: 16pt;
  font-weight: 700;
  text-align: center;
  text-decoration: none !important;
}
.post-list a.list-link:hover h3 {
  /* text-decoration: underline !important; */
}
.list-link:hover {
  transform: scale(1.05);
  transform: translateY(-2px);
  /* background-color: #2f3640 !important; */
  box-shadow: 0 15px 20px #2f36400a;
}
.list-link:focus {
  transform: scale(.95)
}

.post-list a.list-link .post-excerpt {
  margin: 10px 0 0;
}
.post-list a.list-link .post-excerpt {
  font-weight: 400;
  color: #000;
  text-align: center;
  opacity: 0.75;
}

.post-meta {
  color: #4586ff;
  font-weight: 300;
}

.post-title {
  font-size: 18pt;
  font-weight: 700;
}

.post-meta-posts {
  font-size: 10pt;
  margin: -15px auto 20px;
}

.post-content {
  line-height: 1.5;
  font-size: 12pt;
  margin-bottom: 20px;
}
.post-content p {
  font-weight: 400;
}

.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.footer p {
  text-align: center;
  color: #444444;
}

@media only screen and (max-width: 480px) {
  .header-wrapper .header-content h1 {
    font-size: 34pt;
  }

  .header-wrapper .header-content p {
    margin-top: -35px;
  }

  .post-list a.list-link {
    margin: 20px 0;
  }
}


.hightlight-blue {
  /* color: white; */
  border-bottom: 5px solid #4586ff;
  /* background-color: #4586ff; */
}

.btn-404 {
  display: block;
  margin: 20px auto !important;
  width: 200px;
  padding: 10px;
  color: white;
  border-radius: 2px;
  background-color: #4586ff;
  transition: 0.2s all ease-in-out;
}

.btn-404:hover {
  cursor: pointer;
  color: white;
  box-shadow: 0 10px 50px rgba(69, 134, 255, 0.35);
}