// Font Custom
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500');

body {
    font-family: 'Roboto Mono', monospace !important;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 860px;
    position: relative;
    background-color: white;
    overflow: auto;
}

.header-wrapper {
    height: 100px;
    margin: 0 0 20px 0;
    .header-content {
        h1 {
            font-size: 28pt;
            font-weight: 500;
            color: #222222;
            text-align: center;
        }
        p {
            margin-top: -20px;
            text-align: center;
            font-size: 14px;
            color: #555555;
        }
    }

}

.page-content {
    .wrapper {
        // background-color: #293a5e;
    }
}

.post-list {
    h3 {
        
    }
    li, a {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        transition-property: padding-left;
        transition-duration: .25s;
        width: 100%;
        // &::before {
        //     content: " ";
        //     position: absolute;
        //     left: 0; bottom: 0;
        //     height: 15px;
        //     width: 0;
        //     background-color: #f3c72a;
        //     transition: .3s all ease-out;
        //     transition-delay: 0.3s;
        //     z-index: -1;
        // }
        // &:hover::before {
        //     width: 150px;
        // }

        &:hover {
            padding-left: 10px;
        }
    }
}

.post-link {
    display: flex;
    flex: 1;
    color: #136def;
    font-size: 14pt;
    font-weight: 500;
    text-decoration: none !important;
    // background-color: red;
}


.footer {
    position: relative;
    left: 0; right: 0; bottom: 0;
    padding: 10px;
    // background-color: lime;
    p {
        text-align: center;
        color: #444444;
    }
}